.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-1 {
    flex: 1;
}

.footer {
    padding: 3em;
    background-color: whitesmoke;
}

.footer__signature {
    text-align: center;
    font-weight: bold;

    & > p {
        margin: 0;
        padding: 0;
    }
}
